# Exec
log42

# Prerequisites
*.d

# Compiled Object files
/objs/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!libcommon.a
!liblog42.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# hidden file
.cache
.DS_Store

# vscode
/.vscode/

# Compilation database for tooling
compile_commands.json

#Log files
forced.log
manual.log

# Drawio bkp
.$Log42.drawio.bkp

# Leaks
log42.memgraph
valgrind.log
